/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ====================================== INICIO   ================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=News+Cycle&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');

.backgroundImg {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  margin: 0px;
  background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2012/11/13/21969/e3f508fb8ebe3b917de57deeacb1129d-1000.jpg');
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-grid {
  scroll-behavior: smooth;
  text-align: center;
  position: relative;
  left: 0;
  margin-top: 130px;
  width: 100%;
  height: 100%;
}

.circle {
  background-color: #fff;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
  display: flex;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
}

.avatar-img {
  position: absolute;
  bottom: .1;
  opacity: 1;
  left: 10%;
  width: 100%;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  padding: 30px;
  margin: 3em auto 3em auto;
}

.banner-text h1 {
 
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text h2 {
  font-size: 26px;
  font-family: 'Josefin Sans', cursive;
  color: #a3a3a3;
  opacity: .7;
}

.banner-text hr {
  border-top: 3px solid white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
}

.social-links a {
  border: 2px solid white;
  border-radius: 50%;
  padding: 15px;
}

.social-links a:hover {
  background-color: #2255c2;
}

.social-links i {
  color: white;
  font-size: 35px;
  width: 30px;
  height: 30px;
}

header.smaller {
  height: 75px;
}

header.smaller h1#logo {
  width: 150px;
  height: 75px;
  line-height: 55px;
  font-size: 55px;
  margin: 0;
}

header.smaller nav a {
  line-height: 75px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10em;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: solid 0.1em black;
  background-color: #0f0c29;
  transition: height 0.3s;
}

header h1#logo {
  display: inline-block;
  float: left;
  line-height: 2em;
  line-height: 150px;
  margin: 0;
  padding: 0 2em;
  background-color: transparent;
  font-family: 'Josefin Sans', cursive;
  font-size: 40px;
  color: #fcfcfc;
  text-shadow: 0.06em 0.02em #000;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

header nav {
  display: inline-block;
  float: right;
  padding: 0 4em;
}

header nav a {
  line-height: 150px;
  margin-left: 20px;
  color: #fcfcfc;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.4em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'Josefin Sans', cursive;
}



header nav a:hover {
  color: #2255c2;
}

header.smaller {
  height: 75px;
}

header.smaller h1#logo {
  line-height: 75px;
  font-size: 30px;
}

header.smaller nav a {
  line-height: 75px;
}

/* MOBILE SCREEN */

@media all and (max-width: 760px) {
  header h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 100px;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .circle {
    background-color: #e0e0e0;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .avatar-img {
    position: absolute;
    bottom: .1;
    left: 10%;
    width: 100%;
  }
  .banner-text {
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 3em;
  }
  .banner-text h1 {
    padding-top: 2em;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  .banner-text h2 {
    font-size: 20px;
    font-family: 'Josefin Sans', cursive;
    color: #a3a3a3;
    opacity: .7;
  }
  .banner-text hr {
    border-top: 2px dotted white;
    width: 50%;
    margin: auto;
  }
  .banner-text p {
    color: white;
    font-size: 16px;
    padding: 1em;
  }
  .social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
  }
  .social-links i {
    color: white;
    font-size: 2em;
    padding: 8px;
  }
  header nav {
    display: block;
    float: none;
    height: 50px;
    text-align: center;
    margin: 0 auto;
  }
  header nav a {
    line-height: 50px;
    margin: 0 5px;
    font-size: 13px;
  }
  header.smaller {
    height: 75px;
  }
  header.smaller h1#logo {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    width: 100%;
  }
  header.smaller nav {
    height: 35px;
  }
  header.smaller nav a {
    line-height: 35px;
  }
}

/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ====================================== PROJECTS ================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

.divProjects {
  position: relative;
  width: 100%;
  background-color: white;
  margin: 0px;
  padding: 3px;
}

.divProjects h1 {
  font-size: 40px;
  font-family: 'Josefin Sans', cursive;
  margin-bottom: 0%;
}

.divProjects hr {
  border-top: 3px solid black;
  width: 20%;
  margin: auto;
  margin-bottom: 2%;
}

.cell {
  padding-right: 20em;
}

.imgProjects {
  opacity: 1;
  display: block;
  width: 250px;
  height: 250px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.containerProject {
  position: relative;
  width: 250px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  ;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.containerProject:hover .imgProjects {
  opacity: 0.5;
}

.containerProject:hover .middle {
  opacity: 1;
}

.text {}

.text a {
  text-decoration: none;
  background-color: rgb(35, 34, 119);
  color: white;
  font-size: 16px;
  padding: 16px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -150%)
}

/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ====================================== ABOUT ME ================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

.backgroundAboutme {
  background-color: #0f0c29;
  width: 100%;
  position: relative;
  height: 100%;
  padding: 3px;
  margin: 0px;
}

.backgroundAboutme h1 {
  font-size: 40px;
  color: #fff;
  font-family: 'Josefin Sans', cursive;
  margin-bottom: 0%;
}

.backgroundAboutme hr {
  border-top: 3px solid white;
  width: 7%;
  margin: auto;
  margin-bottom: 2%;
  padding-bottom: 40px;
}

.backgroundAboutme p {
  font-size: 20px;
  color: white;
  padding: 0px 20% 75px 20%;
  /* TOP RIGHT BOTTOM LEFT*/
  margin: 0;
  position: relative;
}

/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ====================================== CONTACT  ================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

.contactdiv {
  background-color: white;
  width: 100%;
  position: relative;
  height: auto;
  padding: 3px;
  margin: 0px;
}

.contactdiv h1 {
  
  font-size: 40px;
  color: black;
  font-family: 'Josefin Sans', cursive;
  margin-bottom: 0%;
}

.contactdiv hr {
  border-top: 3px solid black;
  width: 5%;
  margin: auto;
  margin-bottom: 2%;
  padding-bottom: 40px;
}

.icon {
  font-size: 30px;
}

.txtContact {
  font-size: 30px;
  font-family: 'Anton', sans-serif;
  color: black;
}

.txtContact2 {
  font-size: 25px;
  font-family: 'News Cycle', sans-serif;
  color: black;
}


.horizontal-list ul {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  line-height: 100px;
}

.horizontal-list li {
  
  display: inline-block;
  padding: 0px 50px 75px 50px;
  /* TOP RIGHT BOTTOM LEFT*/
}


/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ====================================== RODAPÉ   ================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/