/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ====================================== INICIO   ================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

@import url('https://fonts.googleapis.com/css?family=Exo+2|Nunito|News+Cycle|Tajawal|Anton|Josefin+Sans|Oswald|Oxygen|Poppins|Titillium+Web|Ubuntu&display=swap');
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css');
@import "react-slideshow-image/dist/styles.css";
@import "react-responsive-modal/styles.css";

.modal-style {
  width: 600px;
  height: 500px;
  background-size: 600px 500px;
}
.backgroundImg {
  width: 100%;
  height: 100%;
  padding-top: 90px;
  padding-bottom: 10px;
  /* background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2012/11/13/21969/e3f508fb8ebe3b917de57deeacb1129d-1000.jpg'); */
  background-image: url('./../src/components/img/background.jpg');
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header.smaller {
  height: 75px;
}

h1.topics {
  text-transform: uppercase;
}

header.smaller h1#logo {
  width: 150px;
  height: 75px;
  line-height: 55px;
  font-size: 55px;
  margin: 0;
}

header.smaller nav a {
  line-height: 75px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10em;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: solid 0.1em white;
  background-color: #0f0c29;
  transition: height 0.3s;

  
}

header h1#logo {
  display: inline-block;
  float: left;
  line-height: 2em;
  line-height: 150px;
  margin: 0;
  padding: 0 2em;
  background-color: transparent;
  font-family: 'Ubuntu', cursive;
  font-size: 40px;
  color: #fcfcfc;
  text-shadow: 0.06em 0.02em #000;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

header nav {
  display: inline-block;
  float: right;
  padding: 0 4em;
}

header nav a {
  cursor: pointer;
  line-height: 150px;
  margin-left: 20px;
  color: #fcfcfc;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.4em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'Titillium Web', cursive;
}

.navHeader {
  font-size: 15pt;
}

header nav a:hover {
  color: #2255c2;
}

header.smaller {
  height: 75px;
}

header.smaller h1#logo {
  line-height: 75px;
  font-size: 30px;
}

header.smaller nav a {
  line-height: 75px;
}


.landing-grid {
  scroll-behavior: smooth;
  text-align: center;
  position: relative;
  left: 0;
  margin-top: 130px;
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
}

.circle {
  background-color: rgb(223, 223, 223);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
  display: flex;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
}

.avatar-img {
  position: absolute;
  bottom: .1;
  opacity: 1;
  left: 10%;
  width: 100%;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  border-radius: 10px;
  padding: 30px;
  top:-20px;
  margin: 42px auto 42px auto;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  font-family: 'Titillium Web', cursive;
  color: white;
}

.banner-text h2 {
  font-size: 26px;
  font-family: 'Josefin Sans', cursive;
  color: #a3a3a3;
  opacity: .7;
}

.banner-text hr {
  border-top: 3px solid white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}


.icon-button {
  background-color: white;
  
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 10px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

.icon-button span {
	border-radius: 0;
	display: block;
  height: 0;
  
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #1da1f2;
}
.facebook span {
	background-color: #3C5A99;
}
.youtube span {
	background-color: #db5a3c;
}
.github span {
  background-color: #242424;
}
.linkedin span {
  background-color: #0077B5;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .fa-youtube {
	color: #db5a3c;
}
.icon-button .icon-github {
	color: #242424;
}
.icon-button .fa-linkedin {
  color: rgb(38, 72, 146);
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-github,
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-linkedin
 {
	color: white;
}


/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ====================================== PROJECTS ================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/
.modal-config {
  white-space: pre-wrap;
  background: white;
  transition: 1.1s ease-out;
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  padding: 0;
}

.react-responsive-modal-modal{
  padding: 1px;
}
.content {
  padding: 1rem;
}
.modal-config h2 {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
    color: fff;
    text-align: center;
    font-size: 19pt;
  }
.header-modal {
  background: #eee;
}

.modal-config  .content {
    padding: 1rem;
  }
  .actions {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 0.5rem 1rem;
    
  }
  .CloseDetails {
    position: relative;
    display: flex;
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }
  
  .CloseDetails:hover {
    color: #dd1515 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
  }





.display-block {
  display: block;
}

.display-none {
  display: none;
}

.divProjects {
  position: relative;
  width: 100%;
  background-color: white;
}

.divProjects h1 {
  font-size: 40px;
  font-family: 'Titillium Web', cursive;
  margin-bottom: 0%;
}

.divProjects hr {
  border-top: 3px solid black;
  width: 18%;
  margin: auto;
  margin-bottom: 2%;
}

.cell {
  padding-right: 280px;
  padding-bottom: 80px;
}

.imgProjects {
  opacity: 1;
  display: block;
  width: 250px;
  height: 200px;
  transition: .5s ease;
  backface-visibility: hidden;
  border: solid 3px rgb(223, 223, 223);
}

.desc {
  padding: 15px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
  
}



.cell a {
  cursor: pointer;
}

.containerProject {
  position: relative;
  width: 250px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.containerProject:hover .imgProjects {
  opacity: 0.5;
}

.containerProject:hover .middle {
  opacity: 1;
}


.text a {
  margin: 20px;
  margin-top: 70px;
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.text a:hover {
  color: #ffffff !important;
  font-weight: 800 !important;
  letter-spacing:7px;
  background: rgba(43, 10, 121, 0.57);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.795);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.795);
  transition: all 0.3s ease 0s;
}

/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ====================================== ABOUT ME ================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

.backgroundAboutme {
  background-color: #0f0c29;
  width: 100%;
  position: relative;
  height: 100%;
  padding: 3px;
  margin: 0px;
}

.backgroundAboutme h1 {
  font-size: 40px;
  font-family: 'Titillium Web', cursive;
  color: white;
  margin-bottom: 0%;
}

.backgroundAboutme hr {
  border-top: 3px solid white;
  width: 7%;
  margin: auto;
  margin-bottom: 2%;
  padding-bottom: 40px;
}

.backgroundAboutme p {
  color: white;
  line-height: 2;
  font-size: 20pt;
  margin-bottom: 100px;
  width: 50%;
  font-family: 'Titillium Web', cursive;
  text-justify: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ====================================== CONTACT  ================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

.contactdiv {
  background-color: white;
  width: 100%;
  position: relative;
  height: auto;
  padding: 3px;
  margin: 0px;
}

.contactdiv h1 {
  font-size: 40px;
  font-family: 'Titillium Web', cursive;
  color: black;
  margin-bottom: 0%;
}

.contactdiv hr {
  border-top: 3px solid black;
  width: 5%;
  margin: auto;
  margin-bottom: 2%;
  padding-bottom: 40px;
}

.icon {
  font-size: 30px;
}

.txtContact {
  font-size: 30px;
  font-family: 'Anton', sans-serif;
  color: black;
}

.txtContact2 {
  font-size: 25px;
  font-family: 'News Cycle', sans-serif;
  color: black;
}

.horizontal-list ul {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  line-height: 100px;
}

.horizontal-list li {
  display: inline-block;
  padding: 0px 50px 75px 50px;
  /* TOP RIGHT BOTTOM LEFT*/
}

/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ====================================== FIND ME   ================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

.findmeDiv {
  background-color: #0f0c29;
  width: 100%;
  position: relative;
  height: 100%;
  padding: 3px;
  margin: 0px;
  padding-bottom: 50px;
}

.h1findme {
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Titillium Web', cursive;
  color: white;
  margin-bottom: 0%;
}

.backgroundFindme hr {
  border-top: 3px solid white;
  width: 7%;
  margin: auto;
  margin-bottom: 2%;
  padding-bottom: 40px;
}

.mapLocal {
  height: 400px;
  width: 400px;
  border-radius: 10%;
  padding: 30px;
}

.mapa {
  width: 100%;
  position: relative;
  margin-left: 50%;
  padding-bottom: 5%;
}

.mapa h1 {
  font-size: 33px;
  color: white;
  padding: 0;
  margin: 0;
}

.mapa h2 {
  font-size: 25px;
  color: white;
  padding: 0;
  margin: 0;
}

.socialnet {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-left: 50%;
}

.socialnet h1 {
  font-size: 33px;
  color: white;
  padding: 0;
  margin: 0 0 30px 0;
}

.socialnet i {
  color: white;
  font-size: 25px;
  width: 20px;
  height: 20px;
}

.socialnet a {
  margin-right: 10px;
}

/*======= MODAL ================*/



/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ====================================== MOBILE   ================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

/* ================================================================================================*/

@media all and (max-width: 760px) {
  header h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 100px;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .circle {
    background-color: #e0e0e0;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .avatar-img {
    position: absolute;
    bottom: .1;
    left: 10%;
    width: 100%;
  }
  .banner-text {
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 3em;
    white-space: pre-wrap;
  }
  .banner-text h1 {
    padding-top: 2em;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  .banner-text h2 {
    font-size: 20px;
    font-family: 'Josefin Sans', cursive;
    color: #a3a3a3;
    opacity: .7;
  }
  .banner-text hr {
    border-top: 2px dotted white;
    width: 50%;
    margin: auto;
  }
  .banner-text p {
    color: white;
    font-size: 16px;
    padding: 1em;
  }
  .social-links {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  .social-links i {
    font-size: 15px;
  }
  .social-links a {
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
  }
  header nav {
    display: block;
    float: none;
    height: 50px;
    text-align: center;
    margin: 0 auto;
  }
  header nav a {
    line-height: 50px;
    margin: 0 5px;
    font-size: 13px;
    text-transform: uppercase;
  }
  .navHeader {
    font-size: 10pt;
  }

  header.smaller {
    height: 75px;
    
  }
  header.smaller h1#logo {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    width: 100%;
  }
  header.smaller nav {
    height: 35px;
  }
  header.smaller nav a {
    line-height: 35px;
  }
  .imgProjects {
   
    width: 300px;
    height: 150px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .containerProject {
    position: relative;
    width: 300px;
  }
  .mapLocal {
    height: 300px;
    width: 300px;
    border-radius: 10%;
    padding: 30px;
  }
}